<!-- /templates/submit_name.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Name</title>
    <link rel="stylesheet" href="../static/css/get_recipients_name.css">
    <script src="../static/js/get_recipients_name.js" defer></script>
</head>
<body>
    <h1>이름을 입력하세요</h1>
    <form onsubmit="submitForm(event)">
        <label for="name">이름: </label>
        <input type="text" id="name" name="name" required>
        <button type="submit">제출</button>
    </form>
</body>
</html>
